body{
	overflow: hidden;
}
input{
	/* display: block; */
}
form{
	/* display: inline-block; */
	/*width: 50vw;*/
}
.green{
	margin-right: 10px;
	font-family: cursive;
	color:green;
}
.purple{
	margin-right: 10px;
	font-family: Arial;
	color:#a50c0c;
}
.blue{
	margin-right: 10px;
	font-family: sans-serif;
	color:blue;
}
.orange{
	margin-right: 10px;
	font-family: monospace;
	color: #c55430;
}

header{
	display: flex;
	/*margin-bottom: 30px;*/
	background-image: linear-gradient(#3c00ff,#00d2ff);
	height:20vh;
	position: relative;
	opacity: 0.95;
}
.logo:hover .ferz{
	color: white;
	font-size: 65px;
}
.logo:hover .purple{
	margin-top: 10px;
	font-size: 65px;
}
.logo:hover .orange{
	margin-top: 10px;
	font-size: 65x;
}
.logo:hover .green{
	margin-bottom: 10px;
	font-size: 65px;
}
.logo:hover .blue{
	margin-bottom: 10px;
	font-size: 65px;
}
.logo{
	font-weight: 600;
	font-size: 60px;
	position: absolute;
	left: 0%;
	top: 25%;
	margin-left: 30px;
	cursor: pointer;
	display: flex;
  flex-direction: row;
}
.ferz{
	color: black;
}
.full{
	color:white;
	font-size: 12px;
	margin-left: 30px;
	margin-top: 10px;
}
.table_info{
	margin-left: 5vw;
/*	display: flex;
	flex-direction: block;*/
}
.result-group{
    display: flex;
    justify-content: space-around;
    width: 50vw;
}
.table_name{
	font-weight: 600;
	font-size: 25px;
	color: rgba(255,255,255,0.9);;
	margin-left: 20px;
}
.table{
	overflow-x: auto;
	width: 50vw;
	color:black;
}
.result{
	padding: 20px;
	width: 100vw;
	display: flex;
	direction: row;
	justify-content: center;
	font-size: 24px;
}
.mid_rate{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(orange,yellow);
	height: 100px;
	width: 100px;
	color:white;
}
.dif_rate{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(green,blue);
	height: 100px;
	width: 100px;
	color:white;
}
.content{
	position: relative;
	background-image: url('../img/pert2_bg.jpg');
	height: 80vh;
}
.field-input{
	/* display: flex;
	flex-direction: row;
	justify-content: center; */
	margin-left: 30px;
	margin-top: 10px
}
/* .conteiner-field{
	display: flex;
	flex-direction: row;
} */
.indent1{
	margin-left: 37px;
}
/* label{
	width: 600px;
	display: inline-block;
} */
.indent2{
	margin-left: 90px;
}
.indent3{
	margin-left: 30px;
}
.color-word{
	color: white;
	background-color: #12483d;
}
body{
	font-size: 20px;
}
.conteiner-field{
	margin-left: 5vw;
	/* top: 50%;
	left: 50%;
	position: absolute; */
	display: block;
	width: 50vw;
	background-image: linear-gradient(blue,purple);
}
