body{
	overflow: hidden;
}
input{
	/* display: block; */
}
form{
	/* display: inline-block; */
	/*width: 50vw;*/
}
.sign:nth-child(odd){
	margin-right: 10px;
	font-family: monospace;
	color: white;
}
.sign:nth-child(even){
	margin-right: 10px;
	margin-bottom: 10px;
	font-family: monospace;
	color: black;
}
.logo:hover .sign:nth-child(odd){
	margin-right: 10px;
	margin-top: 10px;
	font-family: Arial;
	color: black;
}
.logo:hover .sign:nth-child(even){
	margin-right: 10px;
	font-family: Arial;
	color: white;
}
header{
	display: flex;
	/*margin-bottom: 30px;*/
	background-image: linear-gradient(rgba(0, 156, 247, 0.52),rgba(255, 255, 255, 0.79));
	height:20vh;
	position: relative;
	opacity: 0.95;
}
.logo{
	font-weight: 600;
	font-size: 60px;
	position: absolute;
	left: 0%;
	top: 25%;
	margin-left: 30px;
	cursor: pointer;
	display: flex;
  flex-direction: row;
}
.full{
	color:white;
	font-size: 18px;
	margin-left: 30px;
	margin-top: 10px;
}
.table_info{
	margin-left: 5vw;
/*	display: flex;
	flex-direction: block;*/
}
.result-group{
    display: flex;
    justify-content: space-around;
    width: 50vw;
}
.table_name{
	font-weight: 600;
	font-size: 25px;
	color: rgba(255,255,255,0.9);;
	margin-left: 20px;
}
.table{
	overflow-x: auto;
	width: 50vw;
	color:black;
	border-collapse: separate;
	
}
td,th{
	border: 5px solid rgb(255, 255, 255);
}
.result{
	padding: 20px;
	width: 100vw;
	display: flex;
	direction: row;
	justify-content: center;
	font-size: 24px;
}
.mid_rate{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(rgba(0, 197, 255, 0.5),rgba(0, 0, 0, 0.65));
	height: 100px;
	width: 100px;
	color:white;
}
.dif_rate{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(rgba(0, 197, 255, 0.5),rgba(0, 0, 0, 0.65));
	height: 100px;
	width: 100px;
	color:white;
}
.content{
	position: relative;
	background-image: url('../img/pert2_bg.jpg');
	height: 80vh;
}
.field-input{
	/* display: flex;
	flex-direction: row;
	justify-content: center; */
	margin-left: 30px;
	margin-top: 10px
}
/* .conteiner-field{
	display: flex;
	flex-direction: row;
} */
.indent1{
	margin-left: 37px;
}
/* label{
	width: 600px;
	display: inline-block;
} */
.indent2{
	margin-left: 90px;
}
.indent3{
	margin-left: 30px;
}
.color-word{
	color: white;
	background-color: #12483d;
}
body{
	font-size: 20px;
}
.conteiner-field{
	margin-left: 5vw;
	/* top: 50%;
	left: 50%;
	position: absolute; */
	display: block;
	width: 50vw;
	background-image: linear-gradient(rgba(0, 0, 0, 0.59),rgba(41, 120, 202, 0.67));
}
.table-bordered{
	border: 2px solid rgb(255, 255, 255)
}
