<!DOCTYPE html>
<html ng-app='app'>
<meta charset="utf-8">
<head>
	<title>Perk</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/datatables.min.css">
	<link rel="stylesheet" type="text/css" href="css/angular-datatables.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body class="color-word">
	<header>
		<div class="logo">
			<span class="sign">&#9813;</span>
			<span class="sign">P</span>
			<span class="sign">E</span>
			<span class="sign">R</span>
			<span class="sign">T</span>
		</div>
		<div class="full">Program Evaluation and Review Technique</div>
	</header>
	<div class="content row" ng-controller="rate">
	<form>
		<fieldset>
			<div class="conteiner-field">
			<div class="field-input">
			<label for="optimistic">
				Оптимистическая отценка
				<input type="number" name="optimistic" ng-model="opt" class="indent1">
			</label>
			</div>
			<div class="field-input">
			<label for="normal">
				Нормальная отценка
				<input type="number" name="normal" ng-model="norm" class="indent2">
			</label>
			</div>
			<div class="field-input">
			<label for="pesemistic">
				Пессиместическая отценка
				<input type="number" name="pesemistic" ng-model="pes" class="indent3">
			</label>
			</div>
			</div>
		</fieldset>
	</form>
	<div class="result">
		<div class = "result-group" >
			<div ng-cloak class="mid_rate">{{mid_rate()}}</div>
			<div ng-cloak class="dif_rate">{{dif_rate()}}</div>
		</div>
		<!-- <div>{{baseUrl}}</div> -->
	</div>
	
<div class="table_info">
<p class="table_name">Таблица расчета предварительной отценки времени выполнения проекта</p>
  <table class="row-border hover table table-striped table-bordered"
				datatable="ng"
				dt-options="vm.dtOptions"
				dt-instance="vm.dtInstance"
				width="100%"
				dt-column-defs="vm.dtColumnDefs">
    <thead>
      <tr>
				<th>№</th>
				<th>Название проекта</th>
				<th>Оптимиская отценка</th>
				<th>Нормальная отценка</th>
				<th>Песимистическая отценка</th>
				<th>Среднее время</th>
				<th>Отклонение</th>
				<th>Редактирование</th>
			</tr>
    </thead>
    <tbody>
      <tr>
        <td>{{1}}</td>
				<td>{{project_name}}</td>
				<td>{{opt}}</td>
        <td>{{norm}}</td>
        <td>{{pes}}</td>
		 		<td>{{mid_rate()}}</td>
		 		<td>{{dif_rate()}}</td>
				<td>
					<div class="btn-group">
            <button
							type="button"
							class="btn btn-default btn"
							ng-click="edit($index);">
							<i class="glyphicon glyphicon-pencil"></i>
						</button>
            <button
							type="button"
							class="btn btn-default btn"
							ng-click="delete();">
							<i class="glyphicon glyphicon-trash"></i>
						</button>
          </div>
				</td>
      </tr>
    </tbody>
  </table>
  </div>
	</div>
	<script type="text/javascript" src="js/angular/js/angular.min.js"></script>
	<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/datatables.min.js"></script>
	<script type="text/javascript" src="js/angular-datatables.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controller/rate.js"></script>
</body>
</html>
